@page "/fetchdata"

@using GenerosBlazorApp.Data
@using  GenerosBlazorApp.BLL
@inject WeatherForecastService ForecastService


@if (lista.Count() == 0)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="container">
        <p class="display-3 text-center ">Lista de Generos</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Genero</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var obj in lista)
                    {
                        <tr>
                            <th>@obj.GeneroId</th>
                            <td>@obj.Nombre</td>
                            <td><a href="RegistroGenero/@obj.GeneroId">Editar</a>|<a href="/Eliminar/@obj.GeneroId">Eliminar</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

}


@code {
    private WeatherForecast[] forecasts;

    public List<Genero> lista = new List<Genero>();

    protected override async Task OnInitializedAsync()
    {
        RepositorioBase<Genero> db = new RepositorioBase<Genero>();

        try
        {
            lista = db.GetList(A => true);
        }
        catch (Exception) { throw; }


    }
}