@page "/RGenero"

@using GenerosBlazorApp.Data
@using GenerosBlazorApp.BLL



<h1>Registro Generos</h1>
<br />

<div class="container">
    <label for="Nombre" class="col-sm-4 col-form-label">Nombre del Genero</label>
    <input type="text" id="Nombre" class="form-check" @bind="genero.Nombre" />
    <button class="btn btn-success col-sm-2" @onclick="Guardar">Guardar</button>
</div>








    @code {

    [Parameter]
    public int Id { get; set; }
    public string Validacion { get; set; }

    Genero genero = new Genero();

    protected override void OnInitialized()
    {

        Validacion = string.Empty;

        RepositorioBase<Genero> db = new RepositorioBase<Genero>();
        try
        {
            if (Id != 0)
            {
                genero = db.Buscar(Id);
            }
        }
        catch (Exception) { throw; }

    }

    private void Guardar()
    {
        RepositorioBase<Genero> db = new RepositorioBase<Genero>();
        try
        {
            if(string.IsNullOrEmpty(genero.Nombre))
            {
                return;
            }

            if(string.IsNullOrWhiteSpace(genero.Nombre))
            {
                return;
            }

            if (genero.GeneroId > 0)
            {
                Modificar();
            }
            else
            {
                if (db.Guardar(genero))
                {
                    genero = new Genero();
                    genero.Nombre = string.Empty;
                }

            }
        }
        catch (Exception) { throw; }

    }

    private void Modificar()
    {
        RepositorioBase<Genero> db = new RepositorioBase<Genero>();
        try
        {

            if (db.Modificar(genero))
            {

                genero = new Genero();
                genero.Nombre = string.Empty;

            }

        }
        catch (Exception) { throw; }
    }

    }
