@page "/RGenero"

@using GenerosBlazorApp.Data
@using GenerosBlazorApp.BLL



<h1>Registro Generos</h1>
<br />

    <div class="container">
        <label for="Nombre" class="col-sm-4 col-form-label">Nombre del Genero</label>
        <input type="text" id="Nombre" class="form-check" @bind="generos.Nombre" />

    </div>


    <br />

    <div class="form-group">
        <button type="button" class="col-md-offset-2 btn btn-success" @onclick="Guardar">Guardar</button>
    </div>


    @code {


        [Parameter]
        public int Id { get; set; }
        public string Mensaje { get; set; }

        Genero generos = new Genero();



        private bool Validacion()
        {
            bool paso = true;

            if (string.IsNullOrEmpty(generos.Nombre))
            {

                paso = false;

            }

            return paso;

        }

        private void Limpiar()
        {
            generos.Nombre = string.Empty;
        }

        private void Guardar()
        {
            RepositorioBase<Genero> db = new RepositorioBase<Genero>();
            try
            {


                if (string.IsNullOrEmpty(generos.Nombre))
                {
                    return;
                }


                if (db.Guardar(generos))
                {
                    Limpiar();

                }


            }
           catch (Exception)
           {
            throw;
            }




        }

    }
